In [61]:
import pandas as pd

In [62]:
def read_cha_file(file_path):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        return lines[5],lines[1]

In [63]:
control_df = pd.DataFrame(columns=['subject','ID','age','sex','type','MMSE'])

In [64]:
def add_row(file_path,df):
    l5, l1 = read_cha_file(file_path)
    row = []
    row.append(file_path.split("/")[-1].split('.')[0])
    row.append(l1.split('-')[1])
    row.append(l5.split('|')[3].split(';')[0])
    row.append(l5.split('|')[4])
    row.append(l5.split('|')[5])
    row.append(l5.split('|')[8])
    
    df.loc[len(df)] = row
    return df

In [65]:
import os

folder_path = "./scores/control/cookie/"

file_names = os.listdir(folder_path)

# Print the file names
for file_name in file_names:
    #print(file_name)
    file_name = folder_path + file_name 
    add_row(file_name,control_df)

## Control gorup

In [66]:
control_df.head()

  subject        ID age     sex     type MMSE
0   002-0  00002178  58  female  Control   30
1   002-1  00002179  59  female  Control   30
2   002-2  00002180  60  female  Control   30
3   002-3  00002181  61  female  Control   28
4   006-2  00002182  72    male  Control

## demential gorup

In [67]:
dementia_df = pd.DataFrame(columns=['subject','ID','age','sex','type','MMSE'])

In [68]:
folder_path = "./scores/dementia/cookie/"

file_names = os.listdir(folder_path)

# Print the file names
for file_name in file_names:
    #print(file_name)
    file_name = folder_path + file_name 
    add_row(file_name,dementia_df)

In [69]:
dementia_df.head()

  subject        ID age   sex        type MMSE
0   001-0  00002420  57  male  ProbableAD   18
1   001-2  00002421  59  male  ProbableAD   11
2   003-0  00002422  56  male  ProbableAD   20
3   005-0  00002423  53  male  ProbableAD   23
4   005-2  00002424  55  male  ProbableAD   19

In [70]:
save_csv = False

SAVE DataFrames :

In [71]:
if save_csv:
    dementia_df.to_csv('dementia_labels.csv', index=False) 
    control_df.to_csv('control_labels.csv', index=False)

---

In [72]:
import numpy as np
dementia_df = pd.read_csv('dementia_labels.csv')
types = list(np.unique(np.array(dementia_df['type'])))
types

['MCI', 'Memory', 'Other', 'PossibleAD', 'ProbableAD', 'Vascular']

In [73]:
dementia_df.head()

  subject    ID   age   sex        type  MMSE
0   001-0  2420  57.0  male  ProbableAD  18.0
1   001-2  2421  59.0  male  ProbableAD  11.0
2   003-0  2422  56.0  male  ProbableAD  20.0
3   005-0  2423  53.0  male  ProbableAD  23.0
4   005-2  2424  55.0  male  ProbableAD  19.0

In [76]:
num_ProbableAD = list(dementia_df['type']).count("ProbableAD")
num_MCI = list(dementia_df['type']).count("MCI")
num_Memory = list(dementia_df['type']).count("Memory")
num_Other = list(dementia_df['type']).count("Other")
num_PossibleAD = list(dementia_df['type']).count("PossibleAD")
num_Vascular = list(dementia_df['type']).count("Vascular")

In [78]:
print(f'number of ProbableAD : {num_ProbableAD}')
print(f'number of MCI : {num_MCI}')
print(f'number of Memory : {num_Memory}')
print(f'number of Other : {num_Other}')
print(f'number of PossibleAD : {num_PossibleAD}')
print(f'number of Vascular : {num_Vascular}')

number of ProbableAD : 236
number of MCI : 43
number of Memory : 3
number of Other : 1
number of PossibleAD : 21
number of Vascular : 5

In [83]:
control_df = pd.read_csv('control_labels.csv')
print(f'number of Control : {len(control_df)}')

number of Control : 486